.homepageBackground {
  background-image: url(./images/homepage-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.test {
  color: red;
}